update/CCPDB/update.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EDK">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="codeVersion">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="message" type="xs:string" />
              <xs:element name="upgrades">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="upgrade">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="url" type="xs:string" />
                          <xs:element name="description" type="xs:string" />
                        </xs:sequence>
						<xs:attribute name="hash" type="xs:string" use="required" />
                        <xs:attribute name="version" type="xs:string" use="required" />
                        <xs:attribute name="svnrev" type="xs:unsignedShort" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="latest" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="dbVersion">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="message" />
              <xs:element name="upgrades">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="upgrade">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="url" type="xs:string" />
                          <xs:element name="description" type="xs:string" />
                        </xs:sequence>
						<xs:attribute name="hash" type="xs:string" use="required" />
                        <xs:attribute name="version" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="latest" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>